<p>
  <%= @unit.name %>
</p>

<%= link_to 'All Units', units_path %>
<%= link_to 'X', unit_path(@unit),
            method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to 'edit', edit_unit_path(@unit) %>